

.coursesSection {
  padding: 3rem 4rem;
  background-color: var(--color-grey-50);
}
.coursesList ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}


@media (max-width: 768px) {
  .coursesSection {
    padding: 2.5rem 2rem;
  }
 
}
@media (max-width: 480px) {
  .coursesSection {
    padding: 2rem 0.5rem;
  }
  .coursesList ul {
  
    gap: 2rem;
  }
 
}





/* .courseCard {
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courseCard h3 {
  font-size: var(--text-lg);
  margin: 1rem 0 0.5rem 0;
  color: var(--color-brand-500);
}
.courseCard p {
  font-size: var(--text-base);
  text-align: center;
  margin-bottom: 1.8rem;
}
 */
