.appContainer {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-grey-0);
  height: 100vh;
}

.mainContent {
  overflow-y: auto;
  width: 100%;
}
.mainContent::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

.mainContent::-webkit-scrollbar-track {
  background: var(--color-grey-100);
}

.mainContent::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-300);
  border-radius: 4px;
 
}

.contentWrapper {
  max-width: 1800px;
  margin: 0 auto;
  /* padding: 2rem; */
  width: 100%;
}

@media (max-width: 768px) {
  .appContainer,
  .contentWrapper,
  .mainContent {
    width: 100vw;
    max-width: 100vw;
  }
  .mainContent::-webkit-scrollbar {
  width: 10px;
  height: 16px;
}
}

@media (max-width: 480px) {
  .mainContent {
    margin-bottom: 1rem;
  }
}
