
.normal {
  padding: 0.8rem 1.6rem;
  font-size: var(--text-base);
  border: none;
 text-transform: capitalize;
  border-radius: 0.5rem;
  background-color: var(--color-brand-200);
  color: var(--color-grey-50);
  transition: background-color 0.3s ease;
 
}
button:hover {
  background-color: var(--color-brand-300);
}
button:disabled {
  background-color: var(--color-grey-400);
  cursor: not-allowed;
}

button.primary {
  background-color: var(--color-brand-100);
}

@media (max-width: 600px) {
  button {
    width: 100%;
    padding: 1rem 0.5rem;
    /* font-size: var(--text-lg); */
  }
}

