




.card {
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: fade 0.5s ease-in-out;
  animation-timeline: scroll();
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}
/* @keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
} */

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* border-radius: 0.5rem; */
  margin-bottom: 1rem;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  font-size: var(--text-lg);
  margin: 1rem 0 0.5rem 0;
  color: var(--color-brand-500);

}

.card p {
  font-size: var(--text-base);
  text-align: center;
  margin-bottom: 1.8rem;
  padding: 1.5rem;

}

button{
  margin-bottom: 1.5rem;
}





@media (max-width: 480px) {
  .card {
   padding: 1rem 0;
  }
  .card {
    border-bottom: 1px solid var(--color-grey-400);
  }

  .imageContainer {
    height: 180px; 
  }
  .card button {
    width: 90%; 
  }
}
