




.card {
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  font-size: var(--text-lg);
  margin: 1rem 0 0.5rem 0;
  color: var(--color-brand-500);

}

.card p {
  font-size: var(--text-base);
  text-align: center;
  margin-bottom: 1.8rem;
  padding: 1.5rem;

}

button{
  margin-bottom: 1.5rem;
}





@media (max-width: 480px) {

  .imageContainer {
    height: 150px;
  }
}
