.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: var(--color-grey-0);
  border-bottom: 1px solid var(--color-grey-200);
  border-top: 1px solid var(--color-grey-200);
  box-shadow: var(--shadow-md);
}

.logo {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(2);
}
.menuButton {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-brand-200);
  gap: 0.55rem;
  padding: 0.3rem ;
  height: 40px;
  width: 55px;
  border-radius: 6px;
  margin-top: 1.42rem;
   box-shadow: var(--shadow-sm);
}


.menuButton:active {
  transform: scale(0.95);
   background: var(--color-brand-300);
}

.menuButton span {
  width: 35px;
  height: 3px;
  background-color: var(--color-grey-100);
  display: block;
  border-radius: 2px;

  transition: all 0.5s ease;
}
.menuButton.open span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menuButton.open span:nth-child(2) {
  opacity: 0;
}

.menuButton.open span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem 1.5rem;
    
  }
  .menuButton {
    display: flex;
   
  }
  .logo {
    width: 120px;
    height: 40px;
    /* justify-content: end; */
   margin-left: 2.5rem;

  }
  .logo img {
    transform: scale(2.5);
  }
}
