.hero {
  min-height: 60vh;
  width: 100%;
  background-image: url("/primeTech/images/students.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: start;
}
.overlay {
  max-width: 800px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    rgba(5, 66, 180, 0.6) 0%,
    rgba(5, 66, 180, 0.4) 60%,
    rgba(5, 66, 180, 0.2) 100%
  );
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}
.content h1 {
  font-size: var(--text-4xl);
  color: var(--color-grey-0);
  line-height: 1.2;
  font-family: var(--font-open-sans);
}
.content h1 span {
  display: block;
}
.content .actions {
  margin-bottom: 1rem 0 2rem ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.actions button{
  border-radius: 0;
}
.content .actions p {
  font-size: var(--text-md);
  color: var(--color-grey-0);
  font-weight: 500;
  padding: 1rem 1.5rem ;
  background: var(--color-brand-400);
 
  
}


@media  (max-width: 768px) {
  .hero {
    min-height: 50vh;
    background-position: top;
    justify-content: center;
  }
  .overlay {
    width: 100%;
  }
  .content h1 {
    text-align: center;
  }
  .content .actions {
    align-items: center;
    justify-content: center;
    margin: auto;
  }


}
