
.container{
  height: 100vh;
  background-color: var(--color-grey-50);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.8rem;
}
.message{
   background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);

  padding: 4.8rem;
  flex: 0 1 96rem;
  text-align: center;

}
.message button{
  margin-top: 2.4rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  background-color: var(--color-brand-500);
  color: white;
  border: none;
  border-radius: var(--border-radius-md);
  transition: background-color 0.3s ease;
}