.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--color-grey-0);
}

.message {
  text-align: center;
  max-width: 600px;
}

.message h1 {
  font-size: var(--text-3xl);
  margin-bottom: 3rem;
  color: var(--color-grey-700);
}
