.contactSection {
  padding: 4rem 2rem;
  background: var(--color-grey-0);
}
.contactContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--color-grey-50);
}

.contactForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  width: 60%;
}

.contactInfo {
  width: 40%;
  max-height: 430px;
  padding-left: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.fullWidth {
  grid-column: 1 / -1;
}

.formGroup input,
.formGroup textarea {
  padding: 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--color-grey-300);
  font-size: var(--text-base);
  transition: border-color 0.3s ease, outline 0.3s ease;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: 2px solid var(--color-brand-200);
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
  color: var(--color-grey-400);
}
.formGroup input:disabled,
.formGroup textarea:disabled {
  background: var(--color-grey-100);
  cursor: not-allowed;
}

.formGroup textarea {
  resize: vertical;
  min-height: 120px;
}



.contactForm .error {
  color: rgb(222, 87, 87);
  font-size: var(--text-sm);
  margin: auto;
  margin-top: 4px;
}

.formFooter {
 width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.formFooter div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formFooter div button:disabled {
  background: var(--color-grey-300);
  cursor: not-allowed;
}


.formFooter p {
  font-size: var(--text-md);
  color: var(--color-grey-800);
}
.formFooter .contactPhone svg {
  font-size: 2.5rem;
  /* color: var(--color-brand-300); */
}
.formFooter div:last-child svg {
  font-size: 4rem;
  color: var(--color-green-500);
}


@media (max-width: 768px) {
  .contactSection{
    padding: 2rem 1rem ;
  }
  .contactContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;

  }
  .contactForm {
    /* grid-template-columns: 1fr; */
    gap: 2rem;
    width: 100%;
    order: 2;
  }

  .contactInfo {
    width: 100%;
    max-height: none;
 
    order: -1;
    padding-left: 0;
    margin-bottom: 2rem;
    
  }

  .fullWidth,
  .contactForm button {
    grid-column: 1 / -1;
  }
}

@media (max-width: 480px) {
  .contactSection{
    padding: 1rem 0.5rem ;
  }
  .contactForm {
    gap: 1rem;
    padding: 0;
  }
  .formFooter {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    

  }
  .formFooter  p {
    font-size: var(--text-sm);
  }
  .formFooter  .contactPhone svg {
    margin-top: 1rem; 
  }
  .formFooter div:last-child svg {
    font-size: 3rem;
  }

}
