/* Testimonials Section */
.testimonialsSection {
  padding: 3rem 2rem;
  background: var(--color-grey-0);
}
.testimonialsContainer {
  position: relative;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1100px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* min-height: 200px; */
  background: var(--color-grey-50);
  transition: transform 0.3s ease;
}

.testimonialsContainer:hover {
  transform: translateY(-5px);
}

.contentBox {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  flex: 1 0 auto;
}

.quoteIcon {
  font-size: 8rem;
  color: var(--color-brand-100);
  line-height: 1;
  opacity: 0.3;
}

.testimonialText {
  font-size: var(--text-md);
  line-height: 1.8;
  color: var(--color-grey-900);
  max-width: 400px;
}

.author {
  display: block;
  font-size: var(--text-sm);
  color: var(--color-grey-500);
  text-align: right;
}

.imageBox {
  width: 500px;
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(
      to right,
      var(--color-grey-0),
      rgba(2, 2, 2, 0.4)
    ),
    url("/primeTech/images/developers.jpg");
  background-size: cover;
  background-position: center;
}

.imageBox img {
  object-fit: contain;
  transform: scale(1.3) translateY(-12%);

  z-index: 1;
  box-shadow: var(--shadow-md);
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonialsSection {
    padding: 2.5rem 2rem;
  }
  .testimonialsContainer {
    flex-direction: column;
    height: auto;
  }
  .imageBox img{
    transform: scale(1.2) translateY(-10%);
  }

 
}


@media (max-width: 480px) {
  .testimonialsSection {
    padding: 2rem 1rem;
  }
  .contentBox {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0 0.5rem ;
  }
  .testimonialText {
    max-width: 100%;
  }
  .imageBox {
   width: 100%;
  }
  .imageBox img{
    transform: scale(1) translateY(0);
  }
  
}
