/* Testimonials Section */
.testimonialsSection {
  padding: 3rem 2rem;
  background: var(--color-grey-0);
}
.testimonialsContainer {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  min-height: 200px;
  background: var(--color-grey-50);
  transition: transform 0.3s ease;
  /* border:1px solid red */
}

.testimonialsContainer:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15); */
}

.contentBox {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  flex: 1 1 auto;
  max-width: 900px;

  /* background: var(--color-grey-0); */
}

.quoteIcon {
  font-size: 8rem;
  color: var(--color-brand-100);
  line-height: 1;
  opacity: 0.3;
}

.testimonialText {
  font-size: var(--text-md);
  line-height: 1.8;
  color: var(--color-grey-900);
  max-width: 400px;
}

.author {
  display: block;
  font-size: var(--text-sm);
  color: var(--color-grey-500);
  text-align: right;
}

.imageBox {
  width: 500px;
  height: 200;
  flex: 0 0 auto;
  border-radius: 5px;
  /* overflow: hidden; */
  background-image: linear-gradient(
      to right,
      var(--color-grey-0),
      rgba(2, 2, 2, 0.4)
    ),
    url("/images/developers.jpg");
  background-size: cover;
  background-position: center;
}

.imageBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  z-index: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonialsContainer {
    flex-direction: column;
    height: auto;
  }

  .imageBox {
    position: static;
    width: 100%;
    height: 200px;
    /* margin-top: 1rem; */
  }
}
