.projectsSection {
   padding: 3rem 2rem;
  background-color: var(--color-grey-50);
}

.projectsList ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}


@media (max-width: 768px) {
  .projectsSection {
    padding: 2.5rem 2rem;
  }
 
}
@media (max-width: 480px) {
  .projectsSection {
    padding: 2rem 0.5rem;
  }
  .projectsList ul {
  
    gap: 2rem;
  }
 
}

/* .projectCard {
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectCard h3 {
  font-size: var(--text-lg);
  margin: 1rem 0 0.5rem 0;
  color: var(--color-brand-500);

}

.projectCard p {
  font-size: var(--text-base);
  text-align: center;
  margin-bottom: 1.8rem;
  padding: 1.5rem;

}

.error {
  height: 5rem;
  font-size: var(--text-md);
  color: var(--color-red-700);
  text-align: center;
  padding: 2rem;
  margin: 2rem auto;
}

 */
