@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* leaflet */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

:root {
  /* Font Families */
  --font-inter: "inter", sans-serif;
  --font-montserrat: "montserrat", sans-serif;
  --font-open-sans: "open sans", sans-serif;
  --font-poppins: "poppins", sans-serif;
  --font-roboto: "roboto", sans-serif;

  /* Font Sizes */
  --text-xs: 1.2rem; /* 12px */
  --text-sm: 1.4rem; /* 14px */
  --text-base: 1.6rem; /* 16px */
  --text-lg: 1.8rem; /* 18px */
  --text-xl: 2rem; /* 20px */
  --text-2xl: 2.4rem; /* 24px */
  --text-3xl: 3rem; /* 30px */
  --text-4xl: 3.6rem; /* 36px */
  --text-5xl: 4.8rem; /* 48px */

  /* Grey Colors */
  --color-grey-0: #ffffff;
  --color-grey-50: #f6f6f6;
  --color-grey-100: #ececec;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #333333;

  /* brand Colors */

  /* Blue Colors */
  --color-blue-100: #267ff0;
  --color-blue-200: #2059a8;
  --color-blue-300: #3498db;
  --color-blue-400: #1e3a8a;
  --color-blue-500: #0a3d62;
  --color-blue-600: #1b2a49;
  --color-blue-700: #1d4ed8;

  /* Indigo Colors */
  --color-brand-50: #267fff;
  --color-brand-100: #2667ff;
  --color-brand-200: #0068c3;
  --color-brand-300: #005197;
  --color-brand-400: #1b2a49;
  --color-brand-500: #002e56;

  --color-green-500: #22c55e;

  /* --color-brand-50: #0074d9;
  --color-brand-100: #0068c3;
  --color-brand-200: #005cad;
  --color-brand-300: #005197;
  --color-brand-400: #004582;
  --color-brand-500: #003a6c;
  --color-brand-600: #002e56;
  --color-brand-700: #002241;
  --color-brand-800: #00172b;
   */

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-inter);
  color: var(--color-grey-700);
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  background: var(--color-grey-0);
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

section {
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 480px) {
  :root {
    --text-xs: 1rem; /* 10px */
    --text-sm: 1.2rem; /* 12px */
    --text-base: 1.4rem; /* 14px */
    --text-lg: 1.6rem; /* 16px */
    --text-xl: 1.8rem; /* 18px */
    --text-2xl: 2rem; /* 20px */
    --text-3xl: 2.4rem; /* 24px */
    --text-4xl: 3rem; /* 30px */
    --text-5xl: 3.6rem; /* 36px */
  }
}
